/* ===== Global Dark Mode ===== */
body {
    background-color: #19191a;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* ===== Input & Textarea ===== */
textarea {
    resize: vertical;
}

input#title,
textarea#content {
    background-color: #2c2c2c;
    color: #f5f5f5;
    border: 0px solid #555;
    padding: 10px;
    width: 400px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input#title:focus,
textarea#content:focus {
    outline: none;
    border: 1px;
    border-color: #4f8dfd;
}

/* ===== Buttons ===== */
button {
    background-color: #3a3a3a;
    color: #b6b0b0;
    border: 0px solid #555;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 6px;
    font-size: 12px;
}

button:hover {
    background-color: #4f4f4f;
    border-color: #6a6a6a;
}

#updateBtn {
    background-color: #5e5594;
    color: rgb(218, 210, 210);
}

#updateBtn:hover {
    background-color: #9380b3;
}

/* ===== Article List ===== */
ul#articleList {
    list-style-type: none;
    padding: 0;
}

ul#articleList li {
    padding: 4px 0px 4px 8px;
    margin-bottom: 6px;
    background-color: #2a2a2a;
    border-radius: 4px;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li strong {
    font-size: 14px;
}

.btn-group {
    display: flex;
    gap: 0px;
    margin-left: auto;
}

li button {
    background-color: #414040;
    color: #c4c1c1;
    border: 0px solid #555;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}

/* Highlight selected article */
.active-article {
    background-color: #3a4b6b;
    border-left: 4px solid #86fd4f;
}

/* hr */
hr {
    border: none;
    height: 1px;
    background-color: #2f2f2f;
    margin: 20px 0;
}